# Pastas de build/instalação do Python
build/
*.egg-info/
.venv/
__pycache__/

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Arquivos de dados / Parquet
*.parquet
**/*.parquet

# Arquivos de Credencial
.env
**/.env
.env.*